.App {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.todo-app{
  background-color: rgb(255, 223, 200);
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

/* AppMenu */


.app-menu{
  padding-bottom: 8px;
  padding: 24px;
}

.menu-top-lane {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.menu-bottom-lane {
  display: flex;
  justify-content: space-between;
}

.date-day {
  color: rgb(76, 46, 146);
  font-size: 36px;
}

.date-month {
  font-size: 22px;
  color: rgba(36, 36, 36, 0.63);
}

.counter {
  align-self: flex-end;
  font-size: 18px;
  color: rgba(36, 36, 36, 0.63);
}

.button {
  font-family: "Roboto";
  color: rgb(255, 223, 200);
  background-color: rgba(7, 160, 53, 0.651);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: color 250ms ease;
  transition: box-shadow 250ms ease;
}

.button:hover {
  background-color: rgba(11, 121, 44, 0.651);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.493);
}

.button--small {
  padding: 6px;
  font-size: 14px;
}

.button--selected {
  background-color: rgba(7, 160, 53, 0.938);
}

.menu-filters {
  display: flex;
  justify-content: space-evenly;
  padding-top: 8px;
}

/* Input */


.todo-input-container {
  position: relative;
  display: flex;
  border-top: 1px solid rgba(36, 36, 36, 0.3);
  border-bottom: 1px solid rgba(36, 36, 36, 0.3);
}

.todo-input-icon {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;
  user-select: none;
}

.todo-input {
  position: relative;
  z-index: 1;
  font-family: "Roboto";
  border: none;
  height: 64px;
  width: 100%;
  font-size: 24px;
  outline: none;
  padding-left: 64px;
  background-color: transparent;
}

.todo-input::placeholder {
  color: rgb(36, 36, 36, 0.63);
}


/* TodoList */

.todo-list-item {
  display: flex;
  padding: 16px 24px;
}

.item-text {
  color: rgba(36, 36, 36, 0.63);
  font-weight: bold;
  padding-left: 6px;
}

.item-text-done {
  text-decoration: line-through;
}

.item-date {
  margin-left: auto;
  margin-right: 16px;
  color: rgba(36, 36, 36, 0.63);
  font-size: 14px;
  align-self: center;
}
